<header>
    <nav>
        <a href="/">Book Store</a>
        <ul>
            <li>
                <a href="/authors">Aurthors</a>
            </li>
            <li>
                <a href="/authors/new">Add Aurthor</a>
            </li>
        </ul>
    </nav>
</header>